body {
  background-color: #333;
}

#featureAnimation {
  background-color: #000;
  height: 262px;
  overflow: hidden;
  position: relative;
  width: 800px;
  margin: auto;
}

.dot {
  position: absolute;
  background-color: #91e600;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  will-change: transform;
}

@keyframes featureAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(700px, 212px);
  }
}

.project {
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 0.5s ease-out;
    margin-bottom: 100px;

    img {
        max-width: 100%;
        height: auto;
    }
}

.project.active {
    transform: translateX(0);
    opacity: 1;
}

.project.active ~ .project {
    transform: translateX(100vw);
    opacity: 0;
}



