body {
  background-color: #333333;
    // background-image: url('./images/blue.gif'); /* Replace 'your-background-image.jpg' with the path to your background image */
  // background-size: cover; /* Ensure the background image covers the entire body */
  // background-blend-mode: repeat;
}

.project {
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 0.5s ease-out;
    margin-bottom: 100px;

    img {
        max-width: 45%;
        height: auto;
    }
}


.portfolio-container {
    padding-top: 50vh; 
}


.project.active {
    transform: translateX(0);
    opacity: 1;
}

// .project.active ~ .project {
//     transform: translateX(100vw);
//     opacity: 0;
// }



