// body {
//   background-color: #333333;
//     // background-image: url('./images/blue.gif'); 
//   // background-size: cover; 
//   // background-blend-mode: repeat;
// }

.sidebar-container {
  position: fixed; // Stick the sidebar to the side of the viewport
  background-image: url('./images/blue.gif');
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; // Adjust the width as needed
  transform: translateX(-100%);
  transition: transform 0.3s ease; // Smooth sliding effect
  background-color: #c5c3f8; // Choose a suitable background color
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &.open {
    transform: translateX(0); // Slide in when open
  }

  .toggle-button {
    position: absolute;
    right: -40px; // Adjust as necessary to place outside the sidebar
    top: 20px;
    color: black;
    font-size: x-large;
    cursor: pointer;
    // Style your toggle button as needed
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px; // Adjust padding as needed

    a {
      padding: 10px 20px; // Adjust padding for links
      text-decoration: none;
      color: #120f0fef; // Link color

      &:hover {
        background-color: #f0f0f0; // Hover effect
      }
    }
  }
}

.nav-technologies {
  display: flex;
  flex-direction: column; // Align icons horizontally
  justify-content: center; // Center icons if there's extra space
  align-items: center; // Align icons vertically
  gap: 25px; // Spacing between icons
  padding: 10px 0; // Top and bottom padding

  .nav-tech-icon {
    color: #201202c5; // Example icon color, adjust as needed

    &:hover {
      color: #cccccc84; // Example hover color, adjust as needed
    }
  }
}