// body {
//   background-color: #333333;
//     // background-image: url('./images/blue.gif'); 
//   // background-size: cover; 
//   // background-blend-mode: repeat;
// }

.sidebar-container {
  position: fixed; // Stick the sidebar to the side of the viewport
  background-image: url('./images/blue.gif');
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; // Adjust the width as needed
  transform: translateX(-100%);
  transition: transform 0.3s ease; // Smooth sliding effect
  background-color: #c5c3f8; // Choose a suitable background color
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &.open {
    transform: translateX(0); // Slide in when open
  }

  .toggle-button {
    position: absolute;
    right: -40px;
    top: 20px;
    color: black;
    font-size: x-large;
    cursor: pointer;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px; 

    a {
      padding: 10px 20px; 
      text-decoration: none;
      color: #120f0fef;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.nav-technologies {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 25px; 
  padding: 10px 0;

  .nav-tech-icon {
    color: #201202c5;

    &:hover {
      color: #cccccc84;
    }
  }
}