footer {
    position: fixed;
        left: 0;
    right: 0;
    bottom: 0;

    /* Positions the footer at the bottom of the viewport */
    width: 100%;
    /* Full width */
    height: 45px;
    /* Adjust based on the height of your tray image */
    /* background-color: #33333300; */
    /* Give it a background color to make it visible */
}




