
.flying-icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: fixed;
    // align-items: center;
    // justify-content: center;
    // display: flex;
    bottom: 4%;
    right: 4%;

}