:root {
  

  font-family: Inter, system-ui, Jokerman, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #24242400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  body,
  html {
    // height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-image: url('/images/clouds.jpg');
     background-image: url('/images/windows95background.webp');

    background-size: cover;
    background-position: center;
    z-index: -1;
    // will-change: transform;
        overflow: hidden; // hiding scrollbar
    overflow-y: scroll; //uncomment to show
  }


}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}




/* Hides the scrollbar but allows scrolling */
::-webkit-scrollbar {
    display: none;
}

// .app {
//   display: flex;
//   flex-direction: row; /* Align sections in a row */
//   width: 100vw;
//   height: 100vh;
//   overflow-x: auto; /* Enable horizontal scrolling */
//   overflow-y: hidden; /* Disable vertical scrolling */
//   scroll-snap-type: x mandatory; /* Optional: for snap scrolling */
// }

// section {
//   flex: 0 0 100vw;
//   /* Each section takes up the full viewport width */
//   height: 100vh;
//   /* Full height of the viewport */
//   scroll-snap-align: start;
//   /* Optional: for snap scrolling */
//   /* Add more styles here as needed */
// }

// @media (max-width: 768px) {
//   .parallax {
//     height: 200px;
//   }
// }

a {
  font-weight: 800;
  color: #646cff;
  text-decoration: inherit;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a:hover {
  color: #f26053;
}

// body {
//   margin: 0;
//   display: flex;
//   place-items: center;
//   min-width: 320px;
//   min-height: 100vh;
// }


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }

// button:hover {
//   border-color: #646cff;
// }

// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

@media (prefers-color-scheme: light) {
  :root {
    color: #dffffae8;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}